extends ../../templates/default
block vars
	-
		title = "DOMCA - Сохраняем тепло"

block content

	.side-panel
		.side-panel__wrap
			.side-panel__close
			.side-panel__list
				a.side-panel__item(href="#catalog")
					.side-panel__icon
						img(src="_/uploads/icons/file.svg", alt="")
					.side-panel__text Перейти #[br]в каталог
				a.side-panel__item(data-fancybox data-src="#modal-callback" href="javascript:;")
					.side-panel__icon
						img(src="_/uploads/icons/tel.svg", alt="")
					.side-panel__text Перезвоните мне
				a.side-panel__item(href="https://www.wildberries.ru/" target="_blank")
					.side-panel__icon
						img(src="_/uploads/icons/wb.svg", alt="")
					.side-panel__text Купить на WB
				a.side-panel__item(href="https://www.ozon.ru/" target="_blank")
					.side-panel__icon
						img(src="_/uploads/icons/ozon.svg", alt="")
					.side-panel__text Купить #[br]на OZON
	
	+style('intro', 'blocks')
	.intro.bg
		.case
			.intro__wrap.row
				.intro__info.an.fadeIn-up
					.intro__title.h1 #[h1 Теплоносители #[u DOMCA] #[br]сохранят тепло и уют #[br]в вашем доме]
					.intro__list.list-line
						ul
							li Без посредников - напрямую от производителя
							li Под любые типы котлов
							li Срок службы – 10 лет
							li Экологичные и безопасные
					.intro__price
						a.intro__btn.btn.--red(href="#catalog")  Посмотреть каталог продукции
						.intro__desc
							.intro__desc-img
								img(src="_/uploads/calc-btn.png" srcset="_/uploads/calc-btn-x2.png 2x", alt="")
							.intro__desc-text #[strong Нажмите на кнопку] #[br]и выберите теплоноситель, который подойдет именно вам
				.intro__img.an.fadeIn-scale
					img(src="_/uploads/intro-img.png" srcset="_/uploads/intro-img-x2.png 2x", alt="" width="645" height="694")
		.intro__bg.bg-img
			img(src="_/uploads/intro-bg.jpg" alt="" width="1920" height="784")
		.intro__bottom
			img(src="_/uploads/intro-bottom.jpg" alt="" width="1920" height="138")

	+style('quality', 'blocks')
	.quality.anchore
		.case
			.quality__title.h2.tac.an.fadeIn-up #[h2 Качество #[u в каждой канистре]]
			.quality__wrap.row
				.quality__img.an.fadeIn-scale
					img(src="_/uploads/quality-img.png" srcset="_/uploads/quality-img-x2.png 2x", alt="" width="678" height="608")
				.quality__info.an.fadeIn-scale
					.quality__list
						.quality__item
							.quality__name.h5 #[h5 Предназначен]
							.quality__text Для систем отопления жилых домов, административных #[br]и производственных зданий и помещений.
						.quality__item
							.quality__name.h5 #[h5 Защищает]
							.quality__text Систему отопления от размораживания, #[i]а металлические элементы котла, радиаторов отопления и трубопровода от коррозии и окисления.
						.quality__item
							.quality__name.h5 #[h5 Остается жидким]
							.quality__text
								p При отрицательных температурах. Если по какой-то причине отопление перестанет работать зимой #[strong ― #[br]с вашими трубами и батареями ничего не случится.]
								p.light В отличие от обычной воды, от которой трубы, батареи #[br]и элементы котла могут просто лопнуть, если температура опустится ниже 0°С.
		.quality__decor.an.fadeIn(data-timeout="0.1s")
			img(src="_/uploads/quality-decor.png", alt="" width="492" height="637")
		.anchore__link#quality

	+style('catalog', 'blocks')
	.catalog.anchore
		.case
			.catalog__title.h2.tac.an.fadeIn-up #[h2 Наша продукция]
			.catalog__wrap.an.fadeIn-up(data-timeout="0.1s")
				.catalog__list
					.catalog__item
						.catalog__img
							img(src="_/uploads/catalog-1.png" srcset="_/uploads/catalog-1-x2.png 2x", alt="" width="223" height="296")
						.catalog__info.tac
							.catalog__name Теплоноситель «DOMCA» -65⁰ #[i (основа МЭГ)]
							.catalog__text Произведён на основе этиленгликоля высшего сорта и дистиллированной воды с добавлением присадок.
							.catalog__temp Диапазон температур #[strong от -65°C до +108°C]
						a.catalog__btn.btn.--b-red(data-fancybox data-src="#modal-meg65" href="javascript:;") Подробнее
					.catalog__item
						.catalog__img
							img(src="_/uploads/catalog-2.png" srcset="_/uploads/catalog-2-x2.png 2x", alt="" width="223" height="296")
						.catalog__info.tac
							.catalog__name Теплоноситель «DOMCA» -30⁰ #[i (основа МЭГ)]
							.catalog__text Произведён на основе этиленгликоля высшего сорта и дистиллированной воды с добавлением присадок.
							.catalog__temp Диапазон температур #[strong от -30°C до +108°C]
						a.catalog__btn.btn.--b-red(data-fancybox data-src="#modal-meg30" href="javascript:;") Подробнее
					.catalog__item
						.catalog__img
							img(src="_/uploads/catalog-3.png" srcset="_/uploads/catalog-3-x2.png 2x", alt="" width="223" height="296")
						.catalog__info.tac
							.catalog__name Теплоноситель «DOMCA» -65⁰ #[i (основа пропиленгликоль)]
							.catalog__text Произведён на основе пропиленгликоля USP и дистиллированной воды с добавлением присадок.
							.catalog__temp Диапазон температур #[strong от -65°C до +108°C]
						a.catalog__btn.btn.--b-red(data-fancybox data-src="#modal-prop65" href="javascript:;") Подробнее
					.catalog__item
						.catalog__img
							img(src="_/uploads/catalog-4.png" srcset="_/uploads/catalog-4-x2.png 2x", alt="" width="223" height="296")
						.catalog__info.tac
							.catalog__name Теплоноситель «DOMCA» -30⁰ #[i (основа пропиленгликоль)]
							.catalog__text Произведён на основе пропиленгликоля USP и дистиллированной воды с добавлением присадок.
							.catalog__temp Диапазон температур #[strong от -30°C до +108°C]
						a.catalog__btn.btn.--b-red(data-fancybox data-src="#modal-prop30" href="javascript:;") Подробнее
		.anchore__link#catalog

	+style('market', 'blocks')
	.market.pt0
		.case
			.market__title.h2.tac.an.fadeIn-up #[h2 Приобретайте теплоноситель #[u DOMCA] #[br]в розницу на маркетплейсах по ссылкам ниже]
			.market__wrap.an.fadeIn-up(data-timeout="0.1s")
				.market__list.row
					.market__item
						.market__img
							img(src="_/uploads/wb.png" srcset="_/uploads/wb-x2.png 2x", alt="" width="478" height="367")
						a.market__btn.btn.--wb(href="https://www.wildberries.ru/" target="_blank") КУПИТЬ НА WB
					.market__item
						.market__img
							img(src="_/uploads/ozon.png" srcset="_/uploads/ozon-x2.png 2x", alt="" width="478" height="367")
						a.market__btn.btn.--ozon(href="https://www.ozon.ru/" target="_blank") КУПИТЬ НА OZON

	+style('why', 'blocks')
	.why.bg
		.case
			.why__wrap.row
				.why__info
					.why__title.h2.an.fadeIn-up #[h2 Почему стоит покупать #[u теплоносители DOMCA?]]
					.why__text.an.fadeIn-up(data-timeout="0.1s")
						p Наша компания работает на рынке химической продукции #[br]с 2007 года. Производим охлаждающие жидкости, теплоносители, хладагенты на основе гликолей с 2009 года.
						p Прямые контракты с производителями этиленгликоля #[br](ПАО «Сибур») и пропиленгликоля (Anhui, Shiida - Китай) позволяют производить продукцию высочайшего качества, #[br]в короткий срок и по минимальным ценам.
						p #[strong Работая с нами вы имеете и высокую маржу, и гарантию качества от производителя.]
				.why__img.an.fadeIn(data-timeout="0.1s")
					img(src="_/uploads/why-img.png" srcset="_/uploads/why-img-x2.png 2x", alt="" width="521" height="828")
		.why__bg.bg-img
			img(src="_/uploads/why-bg.jpg", alt="" width="1920" height="828")

	+style('partners', 'blocks')
	.partners
		.case
			.partners__title.h2.tac.an.fadeIn-up #[h2 Наши теплоносители используются #[br]на #[u крупнейших предприятиях страны]]
			.partners__list
				mixin partners(img, imgx2)
					.partners__item.an.fadeIn-scale
						img(src=img srcset=imgx2, alt="")
				+partners('_/uploads/partners-1.png', '_/uploads/partners-1-x2.png 2x')
				+partners('_/uploads/partners-2.png', '_/uploads/partners-2-x2.png 2x')
				+partners('_/uploads/partners-3.png', '_/uploads/partners-3-x2.png 2x')
				+partners('_/uploads/partners-4.png', '_/uploads/partners-4-x2.png 2x')
				+partners('_/uploads/partners-5.png', '_/uploads/partners-5-x2.png 2x')
				+partners('_/uploads/partners-6.png', '_/uploads/partners-6-x2.png 2x')
				+partners('_/uploads/partners-7.png', '_/uploads/partners-7-x2.png 2x')
				+partners('_/uploads/partners-8.png', '_/uploads/partners-8-x2.png 2x')
				+partners('_/uploads/partners-9.png', '_/uploads/partners-9-x2.png 2x')
				+partners('_/uploads/partners-10.png', '_/uploads/partners-10-x2.png 2x')
				+partners('_/uploads/partners-11.png', '_/uploads/partners-11-x2.png 2x')
				+partners('_/uploads/partners-12.png', '_/uploads/partners-12-x2.png 2x')

	+style('certs', 'blocks')
	.certs.bg.anchore
		.case
			.certs__title.h2.tac.an.fadeIn-up #[h2 Вся продукция #[u сертифицирована]]
			.certs__main.an.fadeIn-up(data-timeout="0.1s")
				.certs__slider.swiper
					.certs__slider-wrap.swiper-wrapper
						a.certs__slider-slide.swiper-slide(href="_/uploads/certs/Паспорт DOMCA -30.pdf" target="_blank")
							img(src="_/uploads/certs/Паспорт DOMCA -30.jpg", alt="" width="404" height="578")
						a.certs__slider-slide.swiper-slide(href="_/uploads/certs/Паспорт DOMCA -65.pdf" target="_blank")
							img(src="_/uploads/certs/Паспорт DOMCA -65.jpg", alt="" width="404" height="578")
						a.certs__slider-slide.swiper-slide(href="_/uploads/certs/Паспорт DOMCA ЭКО -30.pdf" target="_blank")
							img(src="_/uploads/certs/Паспорт DOMCA ЭКО -30.jpg", alt="" width="404" height="578")
						a.certs__slider-slide.swiper-slide(href="_/uploads/certs/Паспорт DOMCA ЭКО -65.pdf" target="_blank")
							img(src="_/uploads/certs/Паспорт DOMCA ЭКО -65.jpg", alt="" width="404" height="578")
						a.certs__slider-slide.swiper-slide(href="_/uploads/certs/POCC.RU.C-RU.ЯД01.pdf" target="_blank")
							img(src="_/uploads/certs/POCC.RU.C-RU.ЯД01.jpg", alt="" width="404" height="578")
						a.certs__slider-slide.swiper-slide(href="_/uploads/certs/16619-МС-2022.pdf" target="_blank")
							img(src="_/uploads/certs/16619-МС-2022-0.jpg", alt="" width="404" height="578")
						a.certs__slider-slide.swiper-slide(href="_/uploads/certs/16619-МС-2022.pdf" target="_blank")
							img(src="_/uploads/certs/16619-МС-2022-1.jpg", alt="" width="404" height="578")
				.certs__arrows
					.certs__arrow.swiper-button-prev
						<svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21L2 11L12 1" stroke="#C20009" stroke-width="2" stroke-linecap="round"/></svg>
					.certs__arrow.swiper-button-next
						<svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L11 11L0.999999 21" stroke="#C20009" stroke-width="2" stroke-linecap="round"/></svg>
				.certs__pagination.swiper-pagination
		.certs__bg.bg-img
			img(src="_/uploads/dealer-bg.jpg", alt="" width="1920" height="828")
		.anchore__link#certs

	+style('order', 'blocks')
	.order.anchore
		.case
			.order__title.h2.tac.an.fadeIn-up #[h2 Остались вопросы?]
			.order__subtitle.tac.an.fadeIn-up(data-timeout="0.1s") Оставьте заявку в форме ниже и мы свяжемся с вами #[br]в течение 15 минут, чтобы обсудить все детали
			form.order__form.an.fadeIn-up(data-timeout="0.15s")
				.order__fields
					.order__field.field.--required.--name
						.field__wrap
							.field__icon
								img(src="_/uploads/icons/person-gray.svg", alt="")
							input.field__area(type="text" name="name" placeholder="Введите ваше имя")
					.order__field.field.--required.--tel
						.field__wrap
							.field__icon
								img(src="_/uploads/icons/tel-gray.svg", alt="")
							input.field__area(type="tel" name="tel" placeholder="+7 (___) ___-__-__")
					.order__field 
						button.order__btn.btn.--red Получить конусльтацию
				.order__policy Нажимая на кнопку вы соглашаетесь с #[a(href="politika.pdf" target="_blank") условиями обработки данных] и #[a(href="politika.pdf" target="_blank") политикой конфиденциальности]
			.order__call.an.fadeIn-up
				.order__call-title.h4.tac #[h4 Или позвоните нам по телефону]
				a.order__call-wrap.row(href="tel:+79519007000")
					.order__call-img
						img(src="_/uploads/tel.png" srcset="_/uploads/tel-x2.png 2x", alt="")
					.order__call-text 8 (951) 900-70-00
		.anchore__link#order
