include ../../sys/pug/vars

footer.footer
	.case
		.footer__main.row
			.footer__info
				.footer__logo.logo
					.logo__img
						img(src="_/uploads/logo.png", alt="")
					.logo__text Сохраняем тепло
				.footer__req
					p ООО «ПКФ ДИНАМИКА»
					p ОГРН 1145249004581
					p ИНН 5249135654
			.footer__nav
				.footer__title Навигация по сайту
				.footer__nav-list
					ul
						li
							a(href="#") О теплоносителе
						li
							a(href="#") Наша продукция
						li
							a(href="#") Дилерам
					ul
						li
							a(href="#") Почему мы
						li
							a(href="#") Сертификаты
						li
							a(href="#") Контакты
			.footer__act
				.footer__title Остались вопросы?
				.footer__text Оставьте заявку и мы свяжемся #[br]с вами для конусльтации
				.footer__btn.btn.--red Перезвоните мне
		.footer__panel.row
			.footer__panel-item @2022 Все права защищены
			a.footer__panel-item(href="" target="_blank") Политика конфиденциальности
			a.footer__panel-item(href="" target="_blank") Согласие на обработку персональных данных
		