.dealer {
  padding: 80px 0 55px;
}
.dealer__wrap {
  align-items: flex-start;
}
.dealer__img {
  width: 100%;
  max-width: 438px;
}
.dealer__img picture, .dealer__img img {
  width: 100%;
  height: 100%;
}
.dealer__info {
  width: calc( 100% - 438px );
  padding-left: 66px;
  margin-top: 30px;
}
.dealer__title {
  margin-bottom: 35px;
}
.dealer__subtitle {
  margin-bottom: 22px;
  color: var(--dark-gray);
}
.dealer__list ul li {
  font-size: 18px;
  margin-bottom: 23px;
}
.dealer__list ul li:last-child {
  margin-bottom: 0;
}
.dealer__btn {
  margin-top: 52px;
  max-width: 440px;
  min-height: 112px;
}
.dealer__bottom {
  z-index: -1;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 358px;
  transform: translateX(-50%);
  mix-blend-mode: multiply;
  position: absolute;
}
.dealer__bottom picture, .dealer__bottom img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .dealer {
    padding: 60px 0;
  }
  .dealer__img {
    max-width: 410px;
  }
  .dealer__info {
    width: calc( 100% - 410px );
    margin-top: 0;
    padding-left: 40px;
  }
  .dealer__title {
    margin-bottom: 30px;
  }
  .dealer__title u {
    display: block;
  }
  .dealer__btn {
    min-height: 100px;
    margin-top: 45px;
  }
}
@media screen and (max-width: 991px) {
  .dealer {
    padding: 40px 0 50px;
  }
  .dealer__wrap {
    flex-direction: column;
  }
  .dealer__info {
    order: 1;
    padding-left: 0;
    width: 100%;
  }
  .dealer__title u {
    display: inline-block;
  }
  .dealer__btn {
    min-height: 80px;
  }
  .dealer__img {
    order: 2;
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .dealer {
    padding: 40px 0;
  }
  .dealer__title {
    margin-bottom: 20px;
  }
  .dealer__list ul li {
    margin-bottom: 20px;
  }
  .dealer__btn {
    margin-top: 30px;
  }
  .dealer__img {
    max-width: 360px;
  }
}
@media screen and (max-width: 580px) {
  .dealer {
    padding: 32px 0;
  }
  .dealer__subtitle {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .dealer__list {
    max-width: 360px;
  }
  .dealer__list ul li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .dealer__btn {
    font-size: 13px;
    min-height: 96px;
  }
  .dealer__img {
    max-width: 276px;
  }
}