.type {
  padding: 56px 0 50px;
  background: var(--gray);
}
.type__title {
  margin-bottom: 55px;
}
.type__list {
  justify-content: space-between;
}
.type__item {
  padding: 32px;
  width: calc( 50% - 24px );
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.type__img {
  height: 367px;
  margin-bottom: 26px;
}
.type__name {
  line-height: 32px;
  margin-bottom: 16px;
}
.type__text {
  line-height: 25px;
}

@media screen and (max-width: 1280px) {
  .type__title {
    margin-bottom: 40px;
  }
  .type__item {
    width: calc( 50% - 10px );
  }
  .type__img {
    height: 300px;
  }
  .type__text br {
    display: none;
  }
}