include ../../sys/pug/vars

header.header.an.fadeIn-down
	.case
		.header__wrap.row
			.header__logo.logo
				.logo__img
					img(src="_/uploads/logo.png" srcset="_/uploads/logo-x2.png 2x", alt="")
				.logo__text Сохраняем тепло
			.header__main.row
				.header__nav
					ul
						li
							a(href="#quality") О теплоносителе
						li
							a(href="#catalog") Наша продукция
						li
							a(href="#dealer") Дилерам
						li
							a(href="#order") Контакты
				.header__contacts
					.header__time Ежедневно с #[strong 10:00 до 20:00]
					a.header__tel(href="tel:+79519007000") 8 (951) 900-70-00
					a.header__callback(data-fancybox data-src="#modal-callback" href="javascript:;") Заказать звонок
			.header__ham.ham