.why__info {
  width: 100%;
  max-width: 680px;
  padding: 94px 0;
}
.why__title {
  margin-bottom: 42px;
}
.why__text {
  font-size: 24px;
  line-height: 36px;
}
.why__text p {
  margin-bottom: 36px;
}
.why__text p:last-child {
  margin-bottom: 0;
}
.why__img {
  width: 100%;
  max-width: 521px;
  margin-right: -56px;
  margin-left: auto;
}
.why__img picture, .why__img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .why {
    padding: 60px 0 0;
  }
  .why__info {
    padding: 0;
    max-width: 550px;
  }
  .why__title {
    margin-bottom: 30px;
  }
  .why__text p {
    margin-bottom: 20px;
  }
  .why__text br {
    display: none;
  }
  .why__img {
    max-width: 450px;
    margin-right: -70px;
    margin-top: -30px;
  }
}
@media screen and (max-width: 991px) {
  .why__wrap {
    flex-direction: column;
  }
  .why__info {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .why__title {
    margin-bottom: 20px;
  }
  .why__text {
    font-size: 22px;
    line-height: 32px;
    padding-right: 45px;
  }
  .why__img {
    max-width: 400px;
    margin-top: 0;
    margin-right: auto;
  }
  .why__bg {
    left: -1000px;
  }
}
@media screen and (max-width: 767px) {
  .why {
    padding: 40px 0 0;
  }
  .why__text {
    font-size: 20px;
    line-height: 30px;
    padding-right: 0;
  }
  .why__img {
    max-width: 340px;
  }
}
@media screen and (max-width: 580px) {
  .why {
    padding: 32px 0 0;
  }
  .why__title {
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
  }
  .why__text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .why__text p {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 395px) {
  .why__title {
    width: calc( 100% + 15px );
    margin-left: -5px;
  }
}