.why
	&__info
		width: 100%
		max-width: 680px
		padding: 94px 0
	&__title
		margin-bottom: 42px
	&__text
		font-size: 24px
		line-height: 36px
		p
			margin-bottom: 36px
			&:last-child
				margin-bottom: 0
	&__img
		width: 100%
		max-width: 521px
		margin-right: -56px
		margin-left: auto

@media screen and (max-width: 1220px)
	// .why

@media screen and (max-width: 992px)
	// .why

@media screen and (max-width: 767px)
	// .why
