.quality {
  padding: 50px 0 70px;
  background: var(--gray);
  position: relative;
}
.quality__title {
  margin-bottom: 78px;
}
.quality__wrap {
  align-items: flex-start;
}
.quality__img {
  width: 100%;
  max-width: 697px;
  margin-left: -105px;
  margin-right: auto;
}
.quality__img picture, .quality__img img {
  width: 100%;
  height: 100%;
}
.quality__info {
  padding: 32px;
  margin-top: 15px;
  width: 100%;
  max-width: 547px;
  background: var(--white);
  border-radius: var(--border);
}
.quality__item {
  margin-bottom: 32px;
}
.quality__item:last-child {
  margin-bottom: 0;
}
.quality__name {
  margin-bottom: 16px;
  color: var(--green);
}
.quality__text {
  font-size: 18px;
  line-height: 28px;
}
.quality__text p {
  margin-bottom: 28px;
}
.quality__text p:last-child {
  margin-bottom: 0;
}
.quality__text p.light {
  color: var(--dark-gray);
}
.quality__decor {
  left: 0;
  bottom: 0;
  position: absolute;
}
.quality__decor picture, .quality__decor img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .quality {
    padding: 50px 0 60px;
  }
  .quality__title {
    margin-bottom: 50px;
  }
  .quality__img {
    margin-top: 40px;
    margin-left: -140px;
    max-width: 580px;
  }
  .quality__info {
    padding: 26px;
    margin-top: 0;
    max-width: 480px;
  }
  .quality__item {
    margin-bottom: 20px;
  }
  .quality__name {
    margin-bottom: 10px;
  }
  .quality__text p {
    margin-bottom: 10px;
  }
  .quality__text br {
    display: none;
  }
  .quality__decor {
    max-width: 350px;
  }
}
@media screen and (max-width: 991px) {
  .quality__title {
    margin-bottom: 30px;
  }
  .quality__wrap {
    flex-direction: column;
  }
  .quality__info {
    order: 1;
    max-width: 100%;
  }
  .quality__img {
    order: 2;
    margin-top: 30px;
    margin-left: auto;
  }
  .quality__decor {
    max-width: 320px;
  }
}