.quality {
  padding: 50px 0 70px;
  background: var(--gray);
}
.quality__title {
  margin-bottom: 78px;
}
.quality__wrap {
  align-items: flex-start;
}
.quality__img {
  width: 100%;
  max-width: 697px;
  margin-left: -105px;
  margin-right: auto;
}
.quality__info {
  padding: 32px;
  margin-top: 15px;
  width: 100%;
  max-width: 547px;
  background: var(--white);
  border-radius: var(--border);
}
.quality__item {
  margin-bottom: 32px;
}
.quality__item:last-child {
  margin-bottom: 0;
}
.quality__name {
  margin-bottom: 16px;
  color: var(--green);
}
.quality__text {
  font-size: 18px;
  line-height: 28px;
}
.quality__text p {
  margin-bottom: 28px;
}
.quality__text p:last-child {
  margin-bottom: 0;
}
.quality__text p.light {
  color: var(--dark-gray);
}
.quality__decor {
  left: 0;
  bottom: 0;
  position: absolute;
}