.quality
	padding: 50px 0 70px
	background: var(--gray)
	position: relative
	&__title
		margin-bottom: 78px
	&__wrap
		align-items: flex-start
	&__img
		width: 100%
		max-width: 697px
		margin-left: -105px
		margin-right: auto
	&__info
		padding: 32px
		margin-top: 15px
		width: 100%
		max-width: 547px
		background: var(--white)
		border-radius: var(--border)
	&__item
		margin-bottom: 32px
		&:last-child
			margin-bottom: 0
	&__name
		margin-bottom: 16px
		color: var(--green)
	&__text
		font-size: 18px
		line-height: 28px
		p
			margin-bottom: 28px
			&:last-child
				margin-bottom: 0
			&.light
				color: var(--dark-gray)
	&__decor
		left: 0
		bottom: 0
		position: absolute

@media screen and (max-width: 1220px)
	// .quality

@media screen and (max-width: 992px)
	// .quality

@media screen and (max-width: 767px)
	// .quality
