.field {
  width: 100%;
  display: block;
  position: relative;
  transition: var(--transition);
}
.field__wrap {
  position: relative;
}
.field__icon {
  z-index: 1;
  top: 50%;
  left: 28px;
  max-width: 24px;
  transform: translateY(-50%);
  position: absolute;
}
.field__area {
  width: 100%;
  padding: 35px 24px 35px 66px;
  background: var(--gray);
  font-size: var(--fz-main);
  font-family: var(--ff-main);
  color: var(--black);
  border: 1px solid transparent;
  border-radius: var(--border-sm);
  transition: var(--transition);
  position: relative;
}
.field__area::placeholder {
  opacity: 1;
  color: var(--dark-gray);
  transition: var(--transition);
}
.field__area:focus::placeholder {
  opacity: 0;
}
.field.--error .field__area {
  border-color: var(--red);
}

@media screen and (max-width: 991px) {
  .field__icon {
    left: 20px;
    max-width: 20px;
  }
  .field__area {
    padding: 26px 24px 26px 54px;
  }
}
@media screen and (max-width: 580px) {
  .field__icon {
    left: 25px;
  }
  .field__area {
    padding: 35px 24px 35px 66px;
  }
}