.certs {
  padding: 50px 0 45px;
}
.certs__slider {
  padding-top: 50px;
  transition: 0.4s;
}
.certs__slider-wrap {
  height: 578px;
  transition: 0.4s;
  align-items: center;
}
.certs__slider-slide {
  width: 275px;
  height: 402px;
  border-radius: var(--border);
  transition: 0.4s;
  overflow: hidden;
  cursor: pointer;
}
.certs__slider-slide.swiper-slide-active {
  width: 404px;
  height: 578px;
}
.certs__arrows {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -10px;
  width: 100%;
  max-width: 562px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
.certs__pagination {
  margin-top: 28px;
}

@media screen and (max-width: 1280px) {
  .certs__slider {
    padding-top: 40px;
  }
  .certs__slider-wrap {
    height: 490px;
  }
  .certs__slider-slide {
    width: 240px;
    height: 360px;
  }
  .certs__slider-slide.swiper-slide-active {
    width: 340px;
    height: 490px;
  }
  .certs__arrows {
    top: 0;
    left: 0;
    max-width: 130px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: none;
  }
}
@media screen and (max-width: 991px) {
  .certs__slider {
    overflow: visible;
  }
  .certs__slider-wrap {
    height: 450px;
  }
  .certs__slider-slide.swiper-slide-active {
    width: 320px;
    height: 450px;
  }
  .certs__arrows {
    max-width: 110px;
  }
}
@media screen and (max-width: 767px) {
  .certs {
    padding: 40px 0 50px;
  }
  .certs__slider {
    max-width: 320px;
    padding-top: 30px;
    overflow: hidden;
  }
  .certs__slider-wrap {
    height: 100%;
  }
  .certs__slider-slide {
    width: 100%;
    height: 450px;
  }
  .certs__slider-slide.swiper-slide-active {
    width: 100%;
    height: 450px;
  }
  .certs__arrows {
    top: 50%;
    left: 50%;
    margin-top: 0;
    max-width: 460px;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}