.certs
	padding: 50px 0 45px
	&__slider
		padding-top: 50px
		&-wrap
			height: 578px
			align-items: center
		&-slide
			width: 275px
			height: 402px
			border-radius: var(--border)
			transition: .3s
			overflow: hidden
			&.swiper-slide-active
				width: 404px
				height: 578px
	&__arrows
		z-index: 1
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		margin-top: -10px
		width: 100%
		max-width: 562px
		display: flex
		align-items: center
		justify-content: space-between
		position: absolute
	&__pagination
		margin-top: 28px

@media screen and (max-width: 1220px)
	// .certs

@media screen and (max-width: 992px)
	// .certs

@media screen and (max-width: 767px)
	// .certs
