.partners {
  padding: 50px 0;
}
.partners__title {
  margin-bottom: 50px;
}
.partners__list {
  gap: 26px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.partners__item {
  min-height: 116px;
  background: var(--gray);
  border-radius: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners__item img {
  mix-blend-mode: multiply;
}

@media screen and (max-width: 1280px) {
  .partners__title {
    margin-bottom: 40px;
  }
  .partners__list {
    grid-template-columns: repeat(3, 1fr);
  }
}