.partners
	padding: 50px 0
	&__title
		margin-bottom: 50px
	&__list
		gap: 26px
		display: grid
		grid-template-columns: repeat(4, 1fr)
	&__item
		min-height: 116px
		background: var(--gray)
		border-radius: var(--border)
		display: flex
		align-items: center
		justify-content: center
		img
			mix-blend-mode: multiply

@media screen and (max-width: 1280px)
	.partners
		&__title
			margin-bottom: 40px
		&__list
			grid-template-columns: repeat(3, 1fr)

@media screen and (max-width: 991px)
	.partners
		padding: 40px 0 50px
		&__title
			margin-bottom: 30px
		&__list
			gap: 16px
		&__item
			padding: 5px 10px

@media screen and (max-width: 767px)
	.partners
		&__title
			br
				display: none
		&__list
			grid-template-columns: repeat(2, 1fr)
