.pros {
  padding: 50px 0 55px;
}
.pros__title {
  margin-bottom: 15px;
}
.pros__subtitle {
  margin-bottom: 50px;
  font-size: 24px;
}
.pros__list {
  gap: 58px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.pros__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.pros__img {
  height: 140px;
  margin-bottom: 30px;
}
.pros__name {
  margin-bottom: 18px;
}
.pros__text {
  line-height: 25px;
}