.pros
	padding: 50px 0 55px
	&__title
		margin-bottom: 15px
	&__subtitle
		margin-bottom: 50px
		font-size: 24px
	&__list
		gap: 58px
		padding: 0 50px
		display: grid
		grid-template-columns: repeat(3, 1fr)
	&__item
		display: flex
		align-items: center
		flex-direction: column
		text-align: center
	&__img
		height: 140px
		margin-bottom: 30px
	&__name
		margin-bottom: 18px
	&__text
		line-height: 25px

@media screen and (max-width: 1220px)
	// .pros

@media screen and (max-width: 992px)
	// .pros

@media screen and (max-width: 767px)
	// .pros
