.pros {
  padding: 50px 0 55px;
}
.pros__title {
  margin-bottom: 15px;
}
.pros__subtitle {
  margin-bottom: 50px;
  font-size: 24px;
}
.pros__list {
  gap: 58px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.pros__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.pros__img {
  height: 140px;
  margin-bottom: 30px;
}
.pros__name {
  margin-bottom: 18px;
}
.pros__text {
  line-height: 25px;
}

@media screen and (max-width: 1280px) {
  .pros__title u {
    display: block;
  }
  .pros__list {
    padding: 0;
  }
  .pros__img {
    height: 120px;
  }
}
@media screen and (max-width: 991px) {
  .pros__subtitle {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .pros__list {
    padding: 0 30px;
    gap: 40px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .pros__name {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .pros {
    padding: 40px 0 50px;
  }
  .pros__subtitle {
    font-size: 18px;
  }
  .pros__list {
    padding: 0;
  }
  .pros__img {
    margin-bottom: 20px;
  }
  .pros__text {
    font-size: 15px;
    line-height: 24px;
  }
}
@media screen and (max-width: 580px) {
  .pros {
    padding: 32px 0;
  }
  .pros__title {
    margin-bottom: 30px;
  }
  .pros__subtitle {
    display: none;
  }
  .pros__list {
    grid-template-columns: auto;
  }
  .pros__item.--sm .pros__img {
    height: 135px;
  }
  .pros__item.--br-mob .pros__text br {
    display: none;
  }
  .pros__img {
    height: 150px;
    margin-bottom: 22px;
  }
  .pros__name {
    font-size: 20px;
  }
  .pros__text {
    font-size: 16px;
  }
}